body{
    background:#222;
    color:white;
    text-align:center;
    font-family:Arial;
}

#arena{
    width:800px;
    height:500px;
    border:3px solid white;
    margin:auto;
    position:relative;
    overflow:hidden;
}

#espada{
    width:20px;
    height:100px;
    background:silver;
    position:absolute;
    left:30px;
    top:200px;
}

#bola{
    width:20px;
    height:20px;
    background:red;
    border-radius:50%;
    position:absolute;
    left:700px;
    top:250px;
}